input {
  text-align: center;
  width: 604px;
  height: 54px;
  border-radius: 10px;
  background-color: #232323;
  border: none;
  color: #fff;
  font-size: 24px;
}

input:focus,
input:active {
  /* 1bd760 color for outline */
  outline: 2px solid #1bd760;
}
