<div class="container">
  <app-navbar></app-navbar>
  <h1 class="header"><span class="primary-text">Spotify</span>&nbsp;Pop(ularity) Quiz</h1>
  <br />
  <p class="description">Earn points by guessing the popularity score of each song!</p>
  <br />
  <p class="description">
    <span class="primary-text">Spotify</span>&#39;s algorithm assigns each song a score from 0 to 100 and is based, in
    the most part, on the total number of plays the track has had and how recent those plays are. Generally speaking,
    songs that are being played a lot now will have a higher popularity than songs that were played a lot in the past.
    You will gain a score from 0 to 100 depending on how close your guess is to
    <span class="primary-text">Spotify</span>&#39;s official popularity scoring.
  </p>
  <br />
  <p class="info-text">
    &#42;<span class="primary-text">Spotify</span>&#39;s popularity score for a certain track may vary with time.
  </p>
  <br />
  <div class="username-input">
    <app-text-input
      inputType="text"
      placeholder="Enter a username"
      (onInputChange)="receiveUsername($event)"
    ></app-text-input>
  </div>
  <br />
  <app-scoreboard></app-scoreboard>
  <br />
</div>
