<div class="container">
  <app-navbar></app-navbar>
  <h1 class="header">Settings</h1>
  <br />
  <div class="settings-category">
    <h3 class="category-title">Choose Your Track Length</h3>
    <p class="category-description">How many songs per play session?</p>
    <div class="buttons">
      <button [ngClass]="[isEndlessSongsBtnStyle]" (click)="handleButtonClick('completely-random')">
        Endless Songs
      </button>
      <button [ngClass]="[isFiveSongsBtnStyle]" (click)="handleButtonClick('based-on-genre')">5 Songs</button>
      <button [ngClass]="[isTwentySongsBtnStyle]" (click)="handleButtonClick('based-on-artist')">20 Songs</button>
    </div>
  </div>
  <br />
  <app-scoreboard></app-scoreboard>
  <br />
</div>
